*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000000;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
html{
	width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
body{
	width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.containers{
    display: flex;
	min-height: 100vh;
	flex-direction: column;	
	background-color: #161614;
}
.head{
	background-color: #000000;
	color: #FFFFFF;
	padding-top: 0.33rem;
	padding-bottom: 0.33rem;
}
.head img{
	margin-left: 0.27rem;
	margin-right: 0.2rem;
	width: 0.33rem;
	height: 0.4rem;
}
#back{
	color: #FFFFFF;
	margin-right: 22%;
	font-size: 17px;
}
.heads{
	width: 1.93rem;
	height: 0.53rem;
	font-size: 21px;
}
/*å†…å®¹*/
.list{
	width: 100%;
	height: 0.86rem;
	background-color: #262626;
	color: #c5c5c5;
	line-height: 0.86rem;
}
.list p{
	margin-left: 0.6rem;
	font-size: 13px;
}
.one{
	width: 100%;
	/*flex: 1;*/
	background-color: #161614;
	overflow: auto;
	display: block;
}
.first{
	width: 88%;
	height: 4.4rem;
	margin: 0 auto;
	margin-top: 0.53rem;
	margin-bottom: 0.4rem;
	color: #FFFFFF;
	font-size: 13px;
}
.content_1{
	width: 100%;
	height: 0.4rem;
	margin-bottom: 0.26rem;
}
.number{
	width: 46.9%;
	height: 0.43rem;
	/*float: left;*/
	display: inline-block;
}
.content_1 span{
	color: #CCCCCC;
	
}
.content_1 p{
	display: inline-block;
	float: right;
	color: #efefef;
}
.name{
	width: 46.9%;
	height: 0.33rem;
	float: right;
	display: inline-block;
}
.mark p{
	color: #ee1619;
}
.states{
	color: #999999;
}
#state{
	color: #AC825E;
}
 hr{
	width: 88%;
	margin: 0 auto;
	border: 1px solid #53585e;
	border-top: none;
	border-left: none;
	border-right: none;
}
.space{
	letter-spacing: 6px;
}
.spaces{
	letter-spacing: 25px;
}
.explain{
	width: 93.8%;
	float: right;
	color: #909090;
	margin-top: 0.2rem;
}
.callfor{
	width: 100%;
	text-align: center;
	margin-top: 42%;
}
.callfor button{
	width: 82.6%;
	height: 1.13rem;
	border: 1px solid #AC825E;
	border-radius: 5px;
	background-color: #AC825E;
	color: #FFFFFF;
}
#app{
	background-color: #FFFFFF;
}
.apps{
	width: 4.2rem;
	height: 1.4rem;
	margin: 0 auto;
	text-align: center;
	margin-top: 0.67rem;
	font-size: 1.2em;	
}
.market_price{
	width: 50%;
	float: left;
	color: #999999;
}
.now_price{
	width: 50%;
	float: right;
	color: #999999;
	/*color: #AC825E;*/
}
#app p{
	text-align: center;
	margin-top: 0.57rem;
	font-weight: 600;
	letter-spacing: 7px;
	font-size: 1.1em;
}
.market_cost{
	width: 100%;
	text-align: center;
	display: none;
}
.market_cost input{
	width: 2.5rem;
	height: 0.8rem;
	font-weight: 600;
	font-size: 1em;
	border: 1px solid #000000;
	border-top: none;
	border-left: none;
	border-right: none;
	text-align: center;
}
.now_cost{
	text-align: center;
}
.now_cost input{
	width: 1.63rem;
	height: 0.8rem;
	border: 1px solid #000000;
	border-top: none;
	border-left: none;
	border-right: none;
	text-align: center;
}
/*ä¿®æ”¹palceholderå­—ä½“é¢œè‰²*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #CCCCCC; opacity:1; 
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #CCCCCC;opacity:1;
}

input:-ms-input-placeholder{
    color: #CCCCCC;opacity:1;
}

input::-webkit-input-placeholder{
    color: #CCCCCC;opacity:1;
}
.down{
	width: 100%;
	margin-top: 0.4rem;
}
.down button{
	width: 50%;
	height: 1.2rem;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	border-bottom: none;
	border-left: none;
}
.yes{
	color: #AC825E;
}
/*åº•éƒ¨*/
.footer{
	width: 100%;
	height: 1.33rem;
	background-color: #000000;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.2rem;
	font-size: 12px;
}
.shadow{
	width: 100%;
	flex: 1; /* 1 ä»£è¡¨ç›¡å¯èƒ½æœ€å¤§ï¼Œæœƒè‡ªå‹•å¡«æ»¿é™¤äº† header footer ä»¥å¤–çš„ç©ºé–“ */
	background-color: #FFFFFF;
}
.rows_1{
	width: 33.3%;
	float: left;
	margin-top: 0.2rem;
}
.rows_2{
	width: 33.3%;
	float: left;
	margin-top: 0.2rem;
}
.rows_3{
	width: 33.3%;
	float: left;
	margin-top: 0.2rem;
	
}
.rows_1 img{
	width: 0.65rem;
	height: 0.56rem;
}
.rows_2 img{
	margin-left: 0.05rem;
	width: 0.54rem;
	height: 0.6rem;
}
.rows_3 img{
	margin-left: 0.35rem;
	width: 0.58rem;
	height: 0.61rem;
}
@media screen and (min-width:768px){ 
    #back{
    	margin-right: 25%;
    }
    .head{
    	font-size: 24px;
    }
    .head img{
    	height: 0.53rem;
    }
    .footer{
		padding-left: 3rem;
	}
	.footer p{
		margin-left: 0.1rem;
	}
	.rows_3 p{
		margin-left: 0.2rem;
	}
}
