*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000000;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}
html{
	width: 100%;
    height: 100%;
   /*æœ€å¥½ä¸è¦ç”¨ overflow: hidden;*/
}
body{
	width: 100%;
    height: 100%;
     /*æœ€å¥½ä¸è¦ç”¨ é™¤éžä¸ç”¨è¿™ä¸ªä¸å¯ä»¥ overflow: hidden;*/
}
.containers{
    display: flex;
	min-height: 100vh;
	flex-direction: column;	
	background-color: #F5F5F5;
}
.head{
	background-color: #000000;
	color: #FFFFFF;
	padding-top: 0.33rem;
	padding-bottom: 0.33rem;
}
.head img{
	margin-left: 0.27rem;
	margin-right: 0.2rem;
	width: 0.33rem;
	height: 0.4rem;
}
#back{
	color: #FFFFFF;
	margin-right: 22%;
	font-size: 17px;
}
.heads{
	width: 1.93rem;
	height: 0.53rem;
	font-size: 21px;
}
/*å†…å®¹*/

.content{
	width: 100%;
	background-color: #F5F5F5;
	flex: 1;
}
.changes{
	width: 94.6%;
	height: 2.46rem;
	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top:0.33rem;
	border-radius: 5px;
}
.changes img{
	width: 1.62rem;
	height: 1.62rem;
	border-radius: 50%;
	margin-top: 0.4rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	float: left;;
}
.changes span{
	display: block;
	color: #868686;
	line-height: 2.46rem;
	font-size: 18px;
}
.messgae{
	width: 94.6%;
	height: 2.66rem;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin-top: 0.26rem;
}
.messgae span {
	padding-left: 0.4rem;
	color: #AC825E;
	font-size: 16px;
}
.name{
	width: 100%;
	height: 1.33rem;
	line-height: 1.33rem;
}
.name input{
	text-align: right;
	border: none;
	width: 7rem;
	height: 90%;
	margin-left: 0.5rem;
}
.hrs{
	border: 1px solid #F5F5F5;
	border-top: none;
	border-left: none;
	border-right: none;
	height: 0px;
	margin: 0;
}
.passed{
	width: 100%;
	height: 1.33rem;
	line-height: 1.33rem;
}
.passed img{
	float: right;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
	width: 0.5rem;
	height: 0.57rem;
}
/*åº•éƒ¨*/
.footer{
	width: 100%;
	height: 1.33rem;
	background-color: #000000;
	color: #FFFFFF;
	position: fixed;
	bottom: 0;
	left: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.2rem;
	font-size:  12px;
}
.shadow{
	width: 100%;
	flex: 1; /* 1 ä»£è¡¨ç›¡å¯èƒ½æœ€å¤§ï¼Œæœƒè‡ªå‹•å¡«æ»¿é™¤äº† header footer ä»¥å¤–çš„ç©ºé–“ */
	background-color: #FFFFFF;
}
.rows_1{
	width: 33.3%;
	float: left;
	margin-top: 0.2rem;
}
.rows_2{
	width: 33.3%;
	float: left;
	margin-top: 0.2rem;
}
.rows_3{
	width: 33.3%;
	float: left;
	margin-top: 0.2rem;
	
}
.rows_1 img{
	width: 0.65rem;
	height: 0.56rem;
}
.rows_2 img{
	margin-left: 0.05rem;
	width: 0.54rem;
	height: 0.6rem;
}
.rows_3 img{
	margin-left: 0.35rem;
	width: 0.58rem;
	height: 0.61rem;
}
@media screen and (min-width:768px){ 
    #back{
    	margin-right: 25%;
    }
    .head{
    	font-size: 24px;
    }
    .head img{
    	height: 0.53rem;
    }
    .footer{
		padding-left: 3rem;
	}
	.footer p{
		margin-left: 0.1rem;
	}
	.rows_3 p{
		margin-left: 0.2rem;
	}
}
