@charset "utf-8";
.opear-btn {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: contain;
}
.opear-btn + .opear-btn {
  margin-left: 5px;
}
.opear-btn.editicon {
  background: url(../images/edit.png) no-repeat center center;
}
.opear-btn.reseticon {
  background: url(../images/reset.png) no-repeat center center;
}
.opear-btn.deleteicon {
  background: url(../images/delete.png) no-repeat center center;
}
.opear-btn.approvalicon {
  background: url(../images/approval.png) no-repeat center center;
}
/* 修改密码 */
.site-box {
  padding: 40px 0 0 0;
}
.pass-form {
  margin-bottom: 20px;
}
#layer-role {
  background-color: #1c1c34;
}
/*角色管理*/
.radio-group {
  display: inline-block;
}
.role-name {
  display: inline-block;
  line-height: 40px;
  text-indent: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.role-bd input {
  width: 100%;
  height: 40px;
  text-indent: 0.5em;
  outline: none;
  border: none;
}
.role-group-title {
  position: relative;
  text-indent: 20px;
  line-height: 40px;
  border-bottom: 1px solid #3d3d67;
  cursor: pointer;
}
.role-group-title.up:before {
  position: absolute;
  margin: 13px 0 0 -10px;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #757575;
  border-top: 6px solid transparent;
  content: "";
}
.role-group-title.down:before {
  position: absolute;
  margin: 18px 0 0 -10px;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-top: 6px solid #757575;
  content: "";
}
.role-group .role-menu .role-group-title {
  padding-left: 10px;
}
.role-group .role-menu .role-menu .role-group-title {
  padding-left: 20px;
}
.role-group .role-menu .role-menu .role-menu .role-group-title {
  padding-left: 30px;
}
.role-group .role-menu .role-menu .role-menu .role-menu .role-group-title {
  padding-left: 40px;
}
.role-group .role-menu .role-menu .role-menu .role-menu .role-menu .role-group-title {
  padding-left: 50px;
}
.role-group .role-menu .role-item {
  padding-left: 30px;
}
.role-group .role-menu .role-menu .role-item {
  padding-left: 40px;
}
.role-group .role-menu .role-menu .role-menu .role-item {
  padding-left: 50px;
}
.role-group .role-menu .role-menu .role-menu .role-menu .role-item {
  padding-left: 60px;
}
